body {
  background-color: lightgrey;
  color: red;
}
h1 {
  background-color: red;
  color: white:
}
link {
      color: hotpink:
}
#new {
background-color: blue;
color: white;
}

.home {
  background-color: yellow:
  color: green;
}
